{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h2>Страница про нас</h2>
    <p> Добро пожаловать в наш интернет-магазин! Наша компания приветствует всех, кто зашёл на сайт!
        Наш интернет-магазин предлагает самые низкие цены, даже и не пытайтесь найти дешевле!
        Наша компания существует уже много лет, на рынке мы являемся самой надёжной и успешной компанией.
        Покупайте в нашем интернет-магазине снова и снова.
        Поверьте, у нас есть всё необходимое. Вашему вниманию самый широкий ассортимент товаров на всём рынке.
        Ждём вас за покупками каждый день, мы всегда к вашим услугам!
    </p>
{% endblock %}
